{% extends 'base.html.twig' %}

{% block body %}

   <article>
         <h2> titre de l'article'</h2>
         <div class="metadata">Ecrit le 10/05/2021 a 19:00 dans la categories politique</div>
         <div class="content">
            <img src="http://plachold.it/350x150" alt="">
             <p>Nesciunt, eaque recusandae et facilis dolorem ut. Et dolorem alias qui neque eveniet placeat accusantium?</p>
             <p>Odit asperiores consequatur non. Nobis recusandae necessitatibus facilis ad atque harum labore amet, nam deserunt.</p>
             <a href="{{ path('shop_show') }}" class="btn btn-primary">lire la suite</a>
             <hr>
             <p>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repellat saepe dicta sequi sapiente in vitae voluptatibus. Nemo eum architecto corrupti minus tempora cum nesciunt quibusdam nihil impedit iure vero deleniti commodi, dolorum soluta vitae quam, rem quis, culpa non fugiat aliquam adipisci. Voluptates eum voluptatibus dolore ullam rerum. Itaque!

             </p>
         </div>
     </article>

{% endblock %}